:root {
  --color-primary: #27222b;
  --color-primary-dark: #121212;
  --color-primary-light: #302b33;
  --color-primary-card: #1E1E1E;
  --color-secondary: #ffffff;
  --color-secondary-dark: #f2f2f2;
  --color-secondary-darker: #d2d2d2;
  --color-accent: #fce84d;
  --color-accent-netflix: #e50914;
  --color-accent-crave: #00c1f3;
  --color-accent-disney: #0072d2;
  --color-accent-prime: #7baa40;

  --font-primary: Roboto, Arial, sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.black {
  font-weight: 900;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 900;
}

h4 {
  font-weight: 500;
}

/* links */

a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
}

/* emphasis & edits */

strong {
  color: var(--color-accent);
  font-weight: normal;
}

del,
s {
  color: var(--color-secondary-darker);
}

mark {
  background-color: var(--color-accent);
}

.white {
  color: #000;
  background-color: #fff;
}

.text-black {
  color: #000;
}

.edit-prof .prof-btn {
  text-decoration: none;
  color: #5583ff;
}

.edit-prof .prof-btn:hover {

  text-decoration: underline;
}

.banner-white {
  color: #fff;
}
