.card {
  background-color: var(--color-primary-card);
  border-radius: 7px;
}

.card > a .card-icon,
.card > a img {
  transition: all .3s ease;
}

.card > a .ep-info {
  text-shadow: -3px 0 5px #000;
}

.card > a .card-icon {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .8));
  opacity: 0;
}

.card > a:hover img {
  filter: blur(3px);
}

.card > a:hover .card-icon {
  opacity: 1;
}

.card > a .card-icon:hover {
  color: var(--color-accent);
}

.card > a .card-icon:hover > span {
  opacity: 1;
}

.card-cont {
  background-color: var(--color-primary-dark);
}


.card-cont > p {
  color: var(--color-secondary-darker);
}

.netflix-color {
  color: var(--color-accent-netflix);
}

.prime-color {
  color: var(--color-accent-prime);
}

.disney-color {
  color: var(--color-accent-disney);
}

.crave-color {
  color: var(--color-accent-crave);
}

.card-platform-disney {
  color: var(--color-accent-disney);
}
