.banner-main {
  background-image: linear-gradient(to top, var(--color-primary) 10%, rgba(0, 0, 0, 0)), url("/images/the-witcher-series-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-episode {
  background-image: linear-gradient(to top, var(--color-primary) 10%, rgba(0, 0, 0, 0)), url("/images/the-witcher-episode-6-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-profile {
  background-image: linear-gradient(to top, var(--color-primary) 10%, rgba(0, 0, 0, 0)), url("/images/background-profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner .banner-streamer {
  max-width: 6em;
}

.banner h1,
.banner h2 {
  text-shadow: 0 3px 6px rgba(0, 0, 0, .7);
}

.embed-asyw {
  padding-top: 110.25%;
}

@media only screen and (min-width: 25em) {
  .embed-asyw {
    padding-top: 90.25%;
  }
}

@media only screen and (min-width: 38em) {

  .embed-asyw {
    padding-top: 56.25%;
  }

}
